body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; !important;
}

a {
    font-size: 30px;
    color: #FFF;
    background-color: #F0F;
    padding: 20px:
    margin: 20px;
} 

h1 {
    background-color: blue;
    color: #FD0;
}

.cascading-parent {
    background-color: #FD0;
}

.cascading-parent h2 {
    color:blue;
}

.cascading-parent a {
    font-size: 30px;
    color: #FD0;
    background-color:blue;
    display: inline-block;
    width: fit-content;
    height:fit-content;
    padding: 20px;
}