   :root {
    --regular: "Helvetica Neue";

    --light-purple: #CFBAE1;
    --darker-purple: #C59FC9;
    --darkest-purple:#6b3e70;

    --white: #FFF;
    --black: #000;

}

/* Usage */   
body {
    font-family: var(--regular);
    color: var(--white);
    background-color: var(--light-purple);
    margin: 45px;
}

h1 {
    color: var(--white);
    background-color: var(--darkest-purple)
}

h2 {
    color: var(--white);
}

h3 {
    color: var(--darkest-purple);
    background-color: var(--white);
    width: 30%;
    height: fit-content;
    padding: 5px 10px;
}

p {
    font-family: var(--regular);
    color: var(--white)
    display: inline-block;
    width: 30%;
    height: fit-content;
}

a:link, a:visited {
    color: var(--white);
    text-decoration:underline;
}

a:hover, a:active {
    color:var(--darkest-purple);
}